
section {
    margin: auto;
    width: 1000px;
}

h2 {
    text-decoration: underline;
    text-shadow: 0px 0px 1px #d0eb6a;
}

h2, h3{
    color: #e7931a;
}


footer, header{
    background: rgba(20,20,20,0.8);
    box-shadow: 0px 0px 10px  2px #777;
    /*color: #d0eb6a;
    color: #e7931a; */
    color: #f28516;
    padding: 10px 50px;
    width: 900px;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}


/* Pie de pagina */
footer #autor {
    float: left;
}

footer #blog {
    float: right;
}



/* Contenedor del puzzle*/
#contenedorPuzzle {
    margin: 20px auto;
    width: 900px;
    background: rgba(20,20,20,0.8);
    box-shadow: 0px 0px 10px  2px #777;
    color: #ccc;
    padding: 10px 50px 50px 50px;
    border-radius: 10px;
    overflow: hidden;
}


/* Puzzle */
#contenedorPiezas{
/*    background: greenyellow;*/
    width: 450px;
    height: 350px;
    float: left;
    margin-left: 20px;
}


/* Puzzle */
#contenedorPiezasEva1act1{
/*    background: greenyellow;*/
    width: 550px;
    height: 350px;
    float: left;
    margin-left: 20px;
}

#puzzle {
    /*    background: #d0eb6a;*/    
    width: 400px;
    height: 450px;
    float: right;
    margin-right: 20px;
    /*box-shadow: 0px 0px 10px  2px #e7931a;*/
}
.contenedorPieza {
    border: 1px;
    width: 100px;
    height: 100px;
    float: left;
    background-image: url(../imagenes/juegos/logicaBasica/actividadInicial/cuadro.png);  
}


.contenedorPiezaEva1Act1 {
    border: 1px;
    width: 250px;
    height: 40px;
    float: left;
    background-image: url(../imagenes/juegos/logicaBasica/evaluacion1/fondoElemento.png);  
}


#contenedorPuzzle img {
    float: left;
    padding: 1px;
    width: 198px;
    height: 198px;
}


.fondoActividadInicial{
    background-image: url(../imagenes/juegos/logicaBasica/actividadInicial/fondo.png);  
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
}


.fondoEvaluacionActividad01{
    background-image: url(../imagenes/juegos/logicaBasica/evaluacion1/fondo.png);  
    background-repeat: no-repeat;
    width: 1200px;
    height: 700px;
}